body {
    margin:0;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#232323+1,3a3a3a+100 */

    background: #3a3a3a; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3a3a3a 0%, #232323 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3a3a3a 0%,#232323 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3a3a3a 0%,#232323 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#232323',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* navigation styling */
nav {
    display:flex;
    background-color:#232323;
    color:whitesmoke;
    border-bottom:1px solid #c4022c;
    position: fixed;
    width:100%;
    z-index: 1000;
    flex-direction:row;
    justify-content:space-between;
}

#filter-navigation{
    flex-direction:row;
    display: inline-flex;
    vertical-align: center;
    font-family:Helvetica, sans-serif;

}

#search-bar {
    padding-right:110px;
    padding-top:22px;
    height:25px;  
}

#search-bar input{
    height:26px;
    width:18vh;
    border-radius:3px;
    border:1px solid whitesmoke;
    background-color:whitesmoke;
    padding-left:15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
}

/* movie itemn image styling */
li {
    list-style: none;
    opacity: 1;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;

}

#movie-list{
    flex-direction: row;
    flex-flow: row wrap;
    display:inline-flex;
    margin:100px 3% 0 3%;
    align-content: flex-start;
}

#movie-list li {
    margin:1% 1%;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    height:450px;
    width:300px;
    flex-direction: row;
    order:5;

}
/* image hover effect */
.movie-hover{
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    background-color:rgba(22,22,22,0.66);
    color:whitesmoke;
    text-align: center;
    font-size:1.6em;
    font-family: Arial, Helvetica, sans-serif;
    height:0;
    padding:0 4%;
    opacity:0;
    transition:all ease-out  0.3s;
    margin-top:200px;

}

#movie-list li:hover .movie-hover{
    display:flex;
    transition:all  0.3s;
    opacity:1;
    height:inherit;
    margin-top:0;
}

.movie-hover .button {
    overflow: hidden;
    width:fit-content;
    background-color:#fae120;
    border:2px solid #fae120;
    border-radius: 3px;
    font-weight:800;
    font-size:1.4em;
    padding:1.5% 5% 0 5%;
    height:11%;
    margin:0 auto;
    margin-bottom:0px;
    transform:scale(0.1);
    transition-delay: 0.1;
    transition:all ease-out  0.4s;
    
}

#movie-list li:hover .movie-hover .button{
   transform:scale(1);
   margin-bottom:30px; 
}

.movie-hover h3{
    margin-top:50px;
    padding-top:40px;
    transform: scale(0.1);
    transition-delay: 0.2;
    opacity:0;
    transition:all ease-out 0.3s;
}

#movie-list li:hover .movie-hover h3{
    opacity:1;
    margin-top:0px;
    transform:scale(1) 
 }

nav img{
    width:130px;
    padding:2% 0 1.5% 0;
    margin-left:30px;
    display:flex;
    flex-direction:row;
    display: inline-flex;
}

#input-wrapper{
    padding-top:26px;
}
a{
    color:#2d2d2d;
    text-decoration: none;
}
a:visited{
    color:#2d2d2d;
}

/* Winc Academy forced me to do radio buttons */

.active{
    font-weight:bold;
}

input[type="radio"]{
    opacity:0;
}

label {
    cursor: pointer;
}

/* end of Winc Academy preasure */
/*Movie content styling */
.showing{
    transition:all 0.5s ease-in-out;
    display:flex;
}

.removed {
    position:relative;
    margin-top:500px;
    display:none;
}