body {
    background-color:lightblue;
}

.container {
    background-color:white;
    border-radius:15px;
    width:16%;
}
.top{
    padding:20px 20px 0 20px;
    font-family: Helvetica,sans-serif;
    line-height:29px;
    font-weight: 500;
}
.top p {
    margin-bottom:0;
}

.img-placeholder{
    background-image: url(ramsey.jpg);
    background-position: center;
    background-size: contain;
    position: relative;
    top:35px;
    display:flex;
    margin:auto;
    height:75px;
    width:75px;
    border-radius:50%;
    border:5px solid white;
    margin-top:-50px;
}

.bottom {
    color:white;
    display:flex;
    text-align: center;
    flex-direction: column;
    background-color:#686de0;
    padding:15px;
    border-radius: 0 0 15px 15px;
}

.bottom h3 {
    margin:30px 0 5px 0;
    letter-spacing: 3px;
    font-weight: 400;

}
.bottom p {
    font-size: 0.9em;
    color:rgba(255,255,255,0.6);
    margin:0;
    margin-bottom:20px;
    font-weight: 600;
}

.portfolio-container {
    background-color:#ff6d00;
    width: 300px;
    height: 300px;
    display:flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.hover-box {
    position: relative;
    left:-120px;
    color:white;
    padding-top:40%;
    text-align:center;
    width:300px;
    height:180px;
    background:rgba(58, 58, 58, 0.6);
    opacity: 0;
    transition:ease-in-out 0.3s;
}

.portfolio-container:hover .hover-box{
    left:0px;
    padding-top:40%;
    opacity: 1;
    width:300px;
}

.portfolio-container .hover-box span{
    opacity: 0;
    transition:ease-in-out 0.8s;
    transition-delay: 0.1s;
}

.portfolio-container:hover .hover-box span{
    opacity: 1;
}
